# =========================
# Python Cache Files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Environment Variables
# =========================
.env

# =========================
# Python Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temporary Files
# =========================
temp/
tmp/
*.tmp

# =========================
# Model Files
# =========================

models/*.joblib
models/*.h5




# =========================
# External Data
# =========================
data/external/*.csv


# =========================
# Generated Reports
# =========================

reports/*.html

# =========================
# SQLite Database
# =========================
*.db
*.sqlite3

# =========================
# Docker
# =========================
*.tar

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage Reports
# =========================
.coverage
htmlcov/

# =========================
# MySQL Dump Files
# =========================
*.sql.gz

# =========================
# Mac/Linux Hidden Files
# =========================
.*.swp
*.swo

# =========================
# Streamlit Cache
# =========================
.streamlit/



# =========================
# Ignore CSV exports
# =========================
exports/